@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroylight.woff2);
}

@font-face {
  font-family: GilroyBold;
  src: url(../fonts/Gilroyextrabold.woff2);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  /* padding-top: 21px; */
  font-family: Gilroy, Arial, sans-serif;
  padding-top: 23px;
}

header,
main {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* input  */

header form {
  display: flex;
  position: relative;
}

header form::before {
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/search.svg');
  margin-right: 14px;
  top: 18px;
  left: 0px;
  position: absolute;
}

.search-field {
  border: none;
  background: transparent;
  padding: 7px 15px 7px 30px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: none;
  border-left: none;
  width: 365px;
  height: 49px;
  position: relative;
}

.search-field+button {
  display: none;
  width: 85px;
  height: 49px;
  background: transparent;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 2;
  border: 2px solid #000;
}

.search-field+button:hover {
  display: block;
  background: #000;
  color: #fff;
}

.search-field+button:focus {
  background: #000;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  display: block;
}

.search-field::placeholder {
  font-size: 15px;
  line-height: 30px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #000;
  opacity: 0.3;
}

.search-field:hover::placeholder {
  opacity: 0.6;
}

.search-field:focus {
  opacity: 1;
  border-bottom-color: black;
  outline: none;
}

.search-field:focus+button {
  display: block;
}

/* standart button  */

.device-btn,
.device-btn1 {
  position: relative;
  font-family: 'GilroyBold', 'Arial', sans-serif;

  display: inline-block;
  padding-top: 9px;
  padding-right: 5px;
  padding-bottsite-naviom: 9px;
  padding-left: 5px;

  border: none;
  background: transparent;
  font-size: 18px;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  vertical-align: top;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  cursor: pointer;
}

.device-btn:focus {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.device-btn1:focus,
.device-btn1.current {
  color: #f0c52e;
  outline: none;
}

.device-btn1:focus::before,
.device-btn1.current {
  width: 270px;
  background: #000;
}

.device-btn::before,
.device-btn1::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 20%;

  background-color: #f0c52e;

  transition: all 0.2s ease-in-out;
}

.device-btn:hover::before,
.device-btn1:hover::before {
  top: 0;

  height: 100%;
}

/* utilities  */

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.hidden,
.dn {
  display: none;
}

/* header */

header {
  width: 1160px;
  position: relative;
}

header nav {
  padding: 50px 60px 0px;
}

header::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: #FCE09B;
  height: 299px;
  top: 20px;
}

.landing-header::before {
  height: 299px;
}

.catalog-header::before {
  height: 196px;
}

.landing {
  width: 1160px;
}

/* logo */

header .main-header-logo {
  display: inline-block;
  position: absolute;
  top: 3px;
}

header .main-header-logo:hover {
  opacity: 0.6;
}

header .main-header-logo:focus {
  opacity: 0.3;
}

/* catalog */

.site-navigation a {
  color: #000;
}

.site-navigation a:hover {
  opacity: 0.6;
}

.site-navigation a:focus {
  opacity: 0.3;
}

.site-navigation>ul a,
.site-navigation .catalog {
  font-family: 'GilroyBold', 'Arial', sans-serif;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 3.6px;
}

.catalog li {
  margin-bottom: 10px;
  margin-right: 50px;
}

.catalog .catalog-menu-wrapper {
  display: none;
}

.catalog:hover .catalog-menu-wrapper,
.catalog-menu-wrapper:hover .catalog-menu-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-menu-wrapper {
  background-color: #FCE09B;
  padding: 25px 60px 20px;
  width: calc(200% + 120px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 150px;
  flex-wrap: wrap;
  position: absolute;
  top: 23px;
  left: -60px;
  z-index: 2;
}

.catalog {
  position: relative;
}

.catalog span:hover {
  opacity: 0.3;
}

.catalog span {
  position: relative;
}

.catalog span::after {
  content: '';
  opacity: 0.3;
  position: absolute;
  top: 4px;
  right: -40px;
  display: block;
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/plus.svg');
  margin-right: 14px;
}

.catalog:hover span::after {
  opacity: 0.3;
}

.catalog-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.catalog-menu li:last-child {
  position: absolute;
  top: 25px;
  left: 465px;
}

/* TODO - selector */
.catalog .catalog-menu a {
  font-size: 15px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  text-transform: none;
  letter-spacing: normal;
}

/*  */

.site-navigation {
  padding: 50px 0px;
}

.site-navigation .catalog,
.site-navigation a {
  font-family: 'GilroyBold', 'Arial', sans-serif;
  font-size: 18px;
  color: var(--black);
}

.site-navigation>ul>li:first-child {
  margin-right: 30px;
}

.site-navigation>ul>li:last-child {
  margin-left: auto;
}

.user-navigation {
  display: flex;
}

.user-navigation li:not(:last-child) {
  margin-right: 20px;
}

.user-navigation a,
.site-features a {
  font-size: 15px;
  line-height: 30px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #000;
}

.user-navigation a.logout {
  opacity: 0.3;
}

.user-navigation a:hover,
.site-features a:hover {
  opacity: 0.6;
}

.user-navigation a:focus,
.site-features a:focus {
  opacity: 0.3;
}

.user-navigation a,
.site-features a {
  font-size: 15px;
  line-height: 30px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #000;
  display: inline-flex;
  align-items: center;
}

.site-features li:not(:last-child) {
  margin-right: 70px;
}

.signin::before,
.compare::before,
.basket::before,
.user-profile::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 14px;
}

header .signin::before,
header .user-profile::before {
  background-image: url('../img/user.svg');
}

header .compare::before {
  background-image: url('../img/compare.svg');
}

header .basket::before {
  background-image: url('../img/cart.svg');
}

/* product */

.featured-products {
  margin-bottom: 106px;
  position: relative;
}

.product {
  display: none;
  position: relative;
}

.product.current {
  display: flex;
}

.product>div {
  flex: 1;
}

.product .image-wrapper {
  display: flex;
  justify-content: center;
}

.product img {
  width: auto;
  object-fit: contain;
}

.product .index {
  font-family: 'GilroyBold', 'Arial', sans-serif;
  font-size: 179px;
  letter-spacing: 1.8px;
  line-height: 1;
  text-align: right;
  position: absolute;
  color: white;
  right: 50px;
  top: -35px;
  z-index: -1;
}

.product .slogan {
  display: block;
  font-size: 47px;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  color: #000;
  letter-spacing: 0.5px;
  margin-bottom: 31px;
}

.product .slogan::before {
  content: '';
  display: block;
  width: 100px;
  height: 7px;
  margin-bottom: 30px;
  margin-top: 30px;
  background: white;
}

.product .description {
  font-size: 15px;
  line-height: 2;
  color: #464646;
  margin-bottom: 64px;
}

.product .device-btn {
  margin-bottom: 60px;
}

.product ul {
  display: flex;
}

.product li:not(:last-child) {
  margin-right: 81px;
}

.product .feature-value {
  font-size: 36px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000;
  margin: 0px 0px 20px;
}

.product .feature {
  font-size: 13px;
  color: #464646;
  line-height: 1.54;
}

/* categories */

.categories {
  margin-bottom: 84px;
}

.categories ul {
  display: flex;
  justify-content: space-between;
}

.categories a {
  display: block;
  max-width: 160px;
  font-family: GilroyBold;
  line-height: 1.33;
  text-decoration: none;
  color: #000;
}

.categories a::before {
  content: '';
  display: block;
  width: 160px;
  height: 160px;
  background-color: #fce09b;
  background-position: center;
  background-repeat: no-repeat;
}

.categories a:hover::before {
  background-color: #f0c52e;
}

.categories a:focus::before {
  background-color: #f0c52e;
  opacity: 0.5;
}

.categories li:nth-child(1) a::before {
  background-image: url('../img/popular-1.svg');
}

.categories li:nth-child(2) a::before {
  background-image: url('../img/popular-2.svg');
}

.categories li:nth-child(3) a::before {
  background-image: url('../img/popular-3.svg');
}

.categories li:nth-child(4) a::before {
  background-image: url('../img/popular-4.svg');
}

.categories li:nth-child(5) a::before {
  background-image: url('../img/popular-5.svg');
}

.categories li:nth-child(6) a::before {
  background-image: url('../img/popular-6.svg');
}

/* services */

.services {
  display: flex;
  margin-bottom: 120px;
  position: relative;
}

.services::before {
  content: '';
  display: block;
  position: absolute;
  top: 95px;
  width: 1440px;
  margin-left: -140px;
  height: 288px;
  background: #eee;
  z-index: -1;
}

.services ul {
  width: 275px;
  height: 319px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 7px solid #000;
}

.services li:not(:last-child) {
  margin-bottom: 25px;
}

.services .service {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px 123px;
}

.services .current {
  display: flex;
}

.service h3 {
  font-size: 47px;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  margin: 0px 0px 43px 0px;
}

.service p {
  font-size: 15px;
  width: 426px;
  color: #464646;
  line-height: 2;
  margin: 0;
}

.service {
  position: relative;
}

.service::before {
  position: absolute;
  content: '';
  display: block;
  right: -230px;
  top: 75px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 140px;
  height: 185px;
}

.services div:nth-of-type(1)::before {
  background-image: url('../img/delivery.svg');
}

.services div:nth-of-type(2)::before {
  background-image: url('../img/warranty.svg');
}

.services div:nth-of-type(3)::before {
  background-image: url('../img/credit.svg');
}

/* brands  */

.brands {
  margin-bottom: 93px;
}

.brands ul {
  display: flex;
  justify-content: space-between;
}

.brands li:hover {
  width: 260px;
  height: 100px;
  filter: none;
  opacity: 1;
}

.brands li {
  filter: grayscale(100%);
  opacity: 0.2;
}

/* about us & contacts */

.about-us-and-contacts-wrapper {
  margin: 0 -60px 90px;
}

.about-us,
.contacts {
  margin: 0 60px;
}

.about-us::before,
.contacts::before {
  content: '';
  width: 80px;
  height: 7px;
  background-color: #000;
  display: block;
}

.about-us h2,
.contacts h2 {
  font-family: GilroyBold;
  font-size: 47.5px;
  line-height: 1.02;
}

.about-us .device-btn,
.contacts .device-btn {
  margin-top: 80px;
}

.about-us p,
.contacts p {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  margin-bottom: 44px;
  line-height: 30px;
}

.about-us ul {
  margin-top: 70px;
  list-style-type: circle;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  padding-left: 20px;
}

.about-us li:not(:last-child) {
  margin-bottom: 20px;
}

.contacts .map {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* modals  */

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .device-btn {
  z-index: 2;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 960px;
  height: 559px;
  position: relative;
}

.modal button.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal button.modal-close::before {
  content: '';
  background-image: url('../img/modal-close.svg');
  display: block;
  width: 55px;
  height: 55px;
  opacity: 0.5;
}

.modal button.modal-close:hover::before {
  opacity: 1;
}

.modal button.modal-close:focus::before {
  opacity: 0.3;
}

.modal.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal.contact-form form {
  padding: 90px 100px;
}

.modal.contact-form .row {
  margin: 0 -10px;
  display: flex;
  margin-bottom: 40px;
}

.modal.contact-form .row div {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modal.contact-form .message {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.modal input {
  height: 50px;
  background: #eee;
  border: none;
  padding: 0px 20px;
  border: 3px solid transparent;
}

.modal input::placeholder,
.modal textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
}

.modal textarea {
  height: 156px;
  background: #eee;
  border: none;
  padding: 20px;
  border: 3px solid transparent;
}

.modal input:focus,
.modal textarea:focus {
  background: white;
  border-color: #f0c52e;
  outline: none;
}

.modal input:invalid,
.modal textarea:invalid {
  background: #edb5b5;
  border-color: #edb5b5;
  outline: none;
}

.modal label {
  font-family: 'GilroyBold', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #000;
  margin-bottom: 13px;
}

/* FOOTER */

footer {
  background-color: #464646;
  padding: 65px 139px;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

footer>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer>div:first-child {
  margin-bottom: 50px;
}

footer>div:nth-child(2) {
  margin-bottom: 70px;
}

footer>div:nth-child(3)::before {
  content: '';
  width: 80px;
  height: 7px;
  background-color: #f0c52e;
}

footer ul {
  display: flex;
  align-items: center;
}

.footer-navigation a {
  font-family: 'GilroyBold', 'Arial', sans-serif;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}

.footer-navigation li:not(:last-child) {
  margin-right: 38px;
}

.footer-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-contacts,
.footer-tel-number {
  color: #fff;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 2;
}

.footer-logo {
  display: inline-block;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:focus {
  opacity: 0.3;
}

.footer-site-features a {
  color: #fff;
  opacity: 0.7;
  display: inline-flex;
  align-items: center;
}

.footer-site-features a.logout {
  opacity: 0.3;
}

.footer-site-features a:hover {
  opacity: 1;
}

.footer-site-features a:focus {
  opacity: 0.3;
}

.footer-site-features li:not(:last-child) {
  margin-right: 44px;
}

footer .signin::before,
footer .user-profile::before {
  background-image: url('../img/user_yellow.svg');
}

footer .compare::before {
  background-image: url('../img/compare_yellow.svg');
}

footer .basket::before {
  background-image: url('../img/cart_yellow.svg');
}

/* SOCIAL BUTTONS */

.social-buttons a {
  display: inline-block;
}

.social-buttons a::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-buttons a:hover::before {
  opacity: 0.6;
}

.social-buttons a:focus::before {
  opacity: 0.1;
}

.social-buttons .facebook::before {
  background-image: url('../img/fb.svg');
}

.social-buttons .twitter::before {
  background-image: url('../img/twitter.svg');
}

.social-buttons .instagram::before {
  background-image: url('../img/instagram.svg');
}

.social-buttons li:not(:last-child) {
  margin-right: 23px;
}

/* CATALOG ITEMS */

.items {
  padding-top: 71px;
  padding-left: 73px;
  padding-bottom: 77px;
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.items-wrapper>div {
  width: 360px;
  height: 380px;
  margin-right: 40px;
  margin-bottom: 93px;
  position: relative;
}

.items-wrapper .title-price {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.items-wrapper .title-price p {
  margin: 0;
  font-size: 16px;
  color: #464646;
  font-family: 'Open Sans', 'Arial', sans-serif;
  line-height: 24px;
}

.items-wrapper .title-price a {
  color: #000;
  line-height: 24px;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  font-size: 17px;
  max-width: 250px;
}

.items-wrapper .product-overlay {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 380px;
  width: 360px;
  background-color: rgba(238, 238, 238, 0.7);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-wrapper img:hover+.product-overlay,
.product-overlay:hover {
  display: flex;
}

.items-wrapper .add-to-compare {
  margin-top: 20px;
  border: none;
  background: transparent;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.items-wrapper .add-to-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.items-wrapper .add-to-compare:focus {
  color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.items-wrapper .new {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-wrapper .new::before {
  content: 'new';
  text-transform: uppercase;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.1);
}

/* PAGINATION */

.pagination>ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pagination li:first-child {
  margin-right: auto;
}

.pagination li:last-child {
  margin-left: auto;
}

.pagination li:first-child a,
.pagination li:last-child a {
  padding: 25px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
  background-color: #dbdbdb;
}

.pagination li:first-child a:focus,
.pagination li:last-child a:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #dbdbdb;
}

.pagination li:not(:first-child):not(:last-child) {
  margin-right: 20px;
}

.pagination li:not(:first-child):not(:last-child) a {
  color: #000;
}

.pagination li:not(:first-child):not(:last-child) a:not(.current) {
  color: rgba(0, 0, 0, 0.3);
}


.pagination {
  width: 760px;
  height: 70px;
  background-color: #eee;
}

.pagination a {
  font-family: 'GilroyBold', 'Arial', sans-serif;
}

/* FILTERS */

.filters {
  width: 468px;
  background-color: #eee;
}

.filters>form {
  padding-right: 68px;
  padding-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.filters>p {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  background-color: #dbdbdb;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin: 0;
  padding: 20px 0;
  height: 70px;
}

fieldset {
  width: 139px;
  border: none;
  margin-bottom: 40px;
  position: relative;
  padding-top: 10px;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

fieldset legend {
  font-size: 18px;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  color: #000;
  padding-top: 10px;
  margin-bottom: 10px;
}

fieldset::before {
  content: '';
  width: 100%;
  display: block;
  background-color: #000;
  height: 2px;
  position: absolute;
  top: 0px;
}

/* TODO */
fieldset li {
  display: flex;
}

fieldset li:not(:last-child) {
  margin-bottom: 10px;
}

.bluetooth input,
.color input {
  display: none;
}

.bluetooth label,
.color label {
  display: flex;
  align-items: center;
}

.bluetooth label::before,
.color label::before {
  content: '';
  display: block;
  width: 27px;
  height: 23px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.bluetooth input[type=radio]:not(:checked)+label::before {
  background-image: url('../img/radio-off.svg');
}

.bluetooth input:checked+label::before {
  background-image: url('../img/radio-on.svg');

}

.color input:not(:checked)+label::before {
  background-image: url('../img/checkbox-off.svg');
}

.color input:checked+label::before {
  background-image: url('../img/checkbox-on.svg');
}

.bluetooth input[type=radio]+label:hover::before,
.color input[type=checkbox]+label:hover::before {
  opacity: 0.6;
}

.bluetooth input[type=radio]:disabled+label,
.color input[type=checkbox]:disabled+label {
  opacity: 0.25;
}

/* SORTINGS */

.sort-by {
  display: flex;
  align-items: center;
  background: #eee;
  height: 70px;
  padding-left: 73px;
  padding-right: 140px;
}

.sort-by p {
  font-size: 16px;
  font-family: 'GilroyBold', 'Arial', sans-serif;
  margin-right: 50px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.sort-by ul {
  display: flex;
}

.sort-options li:not(:last-child) {
  margin-right: 30px;
}

.sort-direction {
  margin-left: auto;
}

.sort-direction li:not(:last-child) {
  margin-right: 20px;
}

.sort-options a {
  font-size: 14px;
  line-height: 18px;
}

.sort-options a.current {
  color: #000;
}

.sort-options a:not(.current) {
  color: rgba(0, 0, 0, 0.3);
}

.sort-direction a::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
}

.sort-direction a.active::before {
  opacity: 0.2;
}

.sort-direction a.up::before {
  background-image: url('../img/icon-up-dir.svg');
}

.sort-direction a.down::before {
  background-image: url('../img/icon-down-dir.svg');
}

/* Catalog navigation */

.catalog-navigation-wrapper {
  max-width: 1160px;
  padding: 0px 60px 35px;
  margin-right: auto;
  margin-left: auto;
}

.catalog-navigation {
  list-style-type: none;
  display: flex;
  font-size: 14px;
  padding-left: 0px;
}

.catalog-navigation li:not(:last-child) {
  margin-right: 20px;
}

.catalog-navigation a {
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.catalog-navigation li:not(:first-child) {
  display: inline-flex;
  align-items: center;
}

.catalog-navigation li:not(:first-child)::before {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/nav-arrow.svg');
  margin-right: 14px;
}

/* catalog */

.products h2 {
  font-size: 47px;
  line-height: 48px;
  color: #000;
  font-family: 'GilroyBold', 'Arial', sans-serif;
}

/* slider controls */

.slider-controllers {
  list-style: none;
  display: flex;
  position: absolute;
  top: 330px;
  right: 70px;
  z-index: 2;
}

.slider-controllers button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
}

.slider-controllers button::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/slider-button-empty.svg');
}

.slider-controllers button.current::before {
  background-image: url('../img/slider-button.svg');
}

.slider-controllers button:hover::before {
  opacity: 0.6;
}


/* */

.hidden,
.dn {
  display: none;
}

.mapouter {
  text-align: right;
  height: 559px;
  width: 960px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 559px;
  width: 960px;
}
